.today-forecast{
    color: rgb(4, 196, 224);
    font-size: 12px;
    font-weight: 400;
}
.today-forecast--content{
    display: flex;
    justify-content: center;
    margin-top: 12px;
}
.today-forecast--content ul{
    display: flex;
}
.today-forecast--content ul li{
    justify-content: center;
}