.subTodayForecast p{
    color: rgba(255, 255, 255, 0.7);
    font-size: 12px;
    font-weight: 400;
    margin-top: 5px;
}
.subTodayForecast h1{
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    margin-bottom: 4px;
}
.subTodayForecast-icon{
    color: #fff;
    height: 42px;
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.subTodayForecast{
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.05) 0%, rgba(171, 203, 222, 0.05) 100%) 0% 0%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    width: 83px;
    border-radius: 8px;
    margin: 4px 0 0 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.active{
    background: rgba(171, 203, 222, 0.3);
}