*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}
.App {
  display: flex;
  justify-content: center;
  background: linear-gradient(to right, #000a30, #00417F);
  height: 100vh;
}
body{
  height: 100%;
}
.root{
  height: 100%;
}
.forecast {
  width: 70%;
  border-radius: 20px;
  margin-top: 32px;
  border: 1px solid rgba(204, 204, 204,0.3);
  padding-bottom: 32px;
  height: max-content;
}

.container{
  margin: 16px 24px 16px 24px;
}
.content{
  margin-top: 48px;
  display: none;
  height: 100%;
}
.col1{
  width: 50%;
  padding-right: 16px;
}
.col2{
  width: 50%;
  padding-left: 16px;
}

.defaulWeb{
  display: none;
}
.activeWeb{
  display: flex;
  justify-content: center;
}